input {
    display: block;
    padding: 10px 15px;
}

.parent > .container input {
    outline: none;
    border: 2px solid blue;
}

/* Target the input tag without using the ::webkit selector and make the text color pink, and the font size 15px. Also, try it out in your favorite text editor or on CodePen! */
input {
    color: pink;
    font-size: 15px;
}

/* Make the below span tag's text disappear with the visibility and opacity properties! */

span {
    visibility: hidden;
    opacity: 0;
}